<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 px-5">
            <p>商品編集</p>
            <%= form_with model: @items, url: admin_items_update_path(@items) do |f| %>
            <table>
                <tr>
                    <td>
                        商品画像
                    </td>
                    <td>
                        <div class="form_group">
                            <%= f.file_field :image_id, accept: "image/*" %>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        商品名
                    </td>
                    <td>
                        <div class="form_group">
                            <%= f.text_field :name, :placeholder => "#{@items.name}" %>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        商品説明
                    </td>
                    <td>
                        <div class="form_group">
                            <%= f.text_area :introduction, :placeholder => "#{@items.introduction}" %>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        税抜価格
                    </td>
                    <td>
                        <div class="form_group">
                            <%= f.text_field :price, :placeholder => "#{@items.price}" %>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td> </td>
                    <td>
                        <div class="form_group">
                            <%= f.submit "変更を保存", class: "btn btn-success" %>
                        </div>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
    </div>
</div>