<div class="container">
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>

    </div>
    <div class="col-12">
      <h2><b>新着商品</b></h2>
    </div>

    <% @item.last(4).each do |item| %>
    <div class="col-3">
      <%= link_to public_item_path(item.id) do %>
      <%= image_tag item.get_profile_image(100,100) %>
      <% end %>
      <br>
      <%= item.name %>
      <br>
      <span>¥</span><%= item.price %>
    </div>
    <% end %>

    <div class="col-12 text-right">
      <%= link_to "すべての商品を見る", public_items_path %>
    </div>
  </div>
</div>
