<h2>ログイン</h2>
<h3>会員の方はこちらからログイン</h3>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <table>
    <tr>
      <td>
        メールアドレス
      </td>
      <td>　</td>
      <td>
        <div class="field">
          <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        パスワード
      </td>
      <td>　</td>
      <td>
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </td>
    </tr>

    <tr>
      <td> </td>
      <td> </td>
      <td>
        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-primary' %>
        </div>
      </td>
    </tr>
  </table>

<% end %>

<h3>会員登録がお済みでない方</h3>
<p>
<%= render "public/shared/links" %>から新規登録を行なってください
</p>